body{
    background-size: 100%;
    font: 1.2em sans-serif;
}

.buttons{
    background-color: blue;
    color: white;
    padding:5px 20px;
    border:none;    
}

#butons{
    background-color: white;
    opacity: .8;    
    border-width: 3px;
    border-color: red;
    border-style: outset;
    text-align: center;
    padding: 5px;
}

h1{
    font: 2em sans-serif;
}

#launches p{
    background-color: black;
    color: white;
    opacity: .7;   
    padding: 5px 25px;
    margin: 2px;
    border-width: 3px;
}